.btn {
    background: none;
    border: none;
    padding: 0;
    line-height: 1;
    outline: none;
    cursor: pointer;
    transition: color 250ms ease-out;
    min-height: 24px;
    min-width: 24px;
    text-align: center;

    &[disabled] {
        opacity: 0.5;
        cursor: auto;
    }

    &--link {
        color: $color-blue;

        &:hover,
        &:focus {
            color: $color-blue-light;
        }
    }

    &--blue {
        background: $color-blue;
    }

    svg {
        margin: 0 auto;
    }
}