.button {
    padding: 10px 15px;
    border: none;
    background: none;
    font-weight: 600;
    //text-transform: uppercase;
    cursor: pointer;
    color: $color-blue;
    border-radius: 3px;
    min-width: 90px;
    transition: background 250ms ease-out, color 250ms ease-out;

    &[disabled] {
        cursor: auto;
    }

    &:hover,
    &:focus {
        outline: 0;
        background: rgba($color-blue, 0.1);
    }

    &--small {
        min-width: 60px;
        padding: 7px 12px;
    }

    &--primary {
        background: $color-blue;
        color: $color-white;

        &:hover,
        &:focus {
            background: $color-blue-light;
        }
    }

    &--secondary {
        background: $color-gray-light3;
        color: $color-blue;

        &:hover,
        &:focus {
            background: $color-gray-light2;
        }

    }

    &--text-red {
        color: $color-red;

        &:hover,
        &:focus {
            background: rgba($color-red, 0.1);
        }
    }
}