.category {
    background: $color-white;
    padding: 10px;
    position: relative;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__color {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        display: block;
        flex-shrink: 0;
        margin-right: 5px;
    }

    &__name {
        width: 100%;
        text-align: left;
        flex-shrink: 1;
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__action {
        margin-left: 3px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}
