.color-picker {
    &__colors {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__color {
        display: flex;
        background: none;
        width: 20px;
        height: 20px;
        outline: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
        border: none;

        &+& {
            margin-left: 3px;
        }
    }

    &__color-checkmark {
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms ease-out;

        .is-active & {
            opacity: 1;
        }
    }

    &__show-custom-color {
        margin: 10px 0;
    }

    &__custom-color {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__color-preview {
        width: 100px;
        height: 100px;
        background: #eee;
        flex-shrink: 0;
        margin-left: 10px;
    }

    &__color-slider-input {
        width: 100%;
    }

    &__color-sliders {
        width: 100%;
    }
}

