.form-field {
    margin-bottom: 20px;

    &__label {
        display: inline-block;
        color: $color-black;
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 5px;
    }

    &__control {
        display: block;
        width: 100%;
        border: 1px solid $color-gray-light2;
        border-radius: 3px;
        background: $color-white;
        padding: 10px;
        color: $color-black;
    }

    &__error {
        margin-top: 3px;
        color: $color-red;
        font-size: 0.8em;
        font-weight: bold;
    }
}