input[type="range"] {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 24px;
    cursor: pointer;

    &:focus {
        outline: none;
        
        &::-webkit-slider-thumb {
            background: $color-blue-light;
        }
    }

    &::-webkit-slider-runnable-track {
        background: $color-gray-light;
        height: 2px;
        width: 100%;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: $color-white;
        border: 1px solid $color-blue-light;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        transform: translateY(-50%) translateY(1px);
        transition: background 250ms ease-out;

        &:hover,
        &:focus {
            background: $color-blue-light;
        }
    }
}