.list {
    background: $color-white;
    box-shadow: 0 2px 3px 0 rgba( $color-gray, 0.25 );
    border-radius: 0 0 3px 3px;
    margin: 10px 0;

    &--no-margin {
        margin: 0;
    }

    &__header {
        background: linear-gradient(to right, $color-blue, $color-blue-light);
        color: $color-white;
        padding: 5px 10px;
    }

    &__title {
        margin: 0;
        font-size: 20px;
        font-weight: 400;
    }

    &__empty {
        padding: 20px 10px;
        text-align: center;
    }

    &__item {
        max-height: 50px;
        transform-origin: 0 0;
        transition: max-height 250ms ease-out;

        & + & {
            border-top: 1px solid $color-gray-light;
        }

        &-leave-active,
        &-enter-active {
            overflow: hidden;
        }

        &-leave {
            max-height: 50px;
            transition: max-height 250ms ease-out;
        }

        &-leave-to,
        &-enter {
            max-height: 0;
            transition: max-height 250ms ease-out;
        }

        &-enter-to {
            max-height: 50px;
            transition: max-height 250ms ease-out;
        }
    }

    &__items,
    &__empty {
        border: 1px solid $color-gray-light2;
        border-top: none;
    }

    &__group {
    }

    &__group-title {
        padding: 5px;
        color: $color-gray-blue;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
        background: $color-gray-light3;
        border-top: 1px solid $color-gray-light;
        border-bottom: 1px solid $color-gray-light;
    }
}