.lists {
    $lists: &;

    overflow: hidden;

    &__wrapper {
        width: calc( 200% + 20px );
        display: flex;
        transition: transform 250ms ease-out;

        #{$lists}--show-second &{
            transform: translateX(-50%) translateX(-10px);
        }
    }

    &__item {
        width: 50%;

        &--inactive {
            overflow: hidden;
            max-height: 0;
        }

        &+& {
            margin-left: 20px;
        }
    }

}