.message-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: $color-gray-blue;
    color: $color-white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
    box-shadow: 0 0 5px 0 $color-gray;
    transition: transform 250ms ease-out, opacity 250ms ease-out;

    &-enter,
    &-leave-to {
        transform: translateY(100%) translateY(5px);
        opacity: 0;
    }

    &-enter-to,
    &-leave {
        transform: translateY(0);
        opacity: 1;
    }

    &__actions {
        margin-left: 10px;
        display: flex;
    }

    &__action {
        &+& {
            margin-left: 5px;
        }
    }
}