.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color-white;
    z-index: 1;
    display: flex;
    flex-direction: column;

    &__header {
        flex-shrink: 0;
        background: $color-blue;
        color: $color-white;
        padding: 5px 10px;
    }

    &__body {
        flex-grow: 1;
    }

    &__footer {
        flex-shrink: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-top: 1px solid $color-gray-light;
    }

    &__action {
        flex-shrink: 0;

        &+& {
            margin-left: 8px;
        }
    }

}