.modal-small {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-black, 0.25);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;


    &__content {
        background: $color-white;
        margin: 10px;
        width: 100%;
        max-width: 320px;
        box-shadow: 0 0 10px 0 rgba($color-black, 0.5);
    }

    &__header {
        flex-shrink: 0;
        background: $color-blue;
        color: $color-white;
        padding: 5px 10px;
    }

    &__body {
        flex-grow: 1;
    }

    &__footer {
        flex-shrink: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-top: 1px solid $color-gray-light;
    }

    &__action {
        flex-shrink: 0;

        &+& {
            margin-left: 8px;
        }
    }

}