.options-menu {
    position: relative;

    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 150px;
        display: block;
        background: $color-white;
        border: 1px solid $color-gray-light;
    }

    &__list-item {
        & + & {
            border-top: 1px solid $color-gray-light;
        }
    }

    &__option {
        width: 100%;
        text-align: left;
        background: none;
        border: none;
        padding: 10px;
        color: $color-gray-blue;
        transition: background 250ms ease-out;
        font-weight: normal;

        &:hover,
        &:focus {
            background: $color-gray-light;
        }
    }

    &-show {
        &-enter {
            transition: opacity 200ms ease-out, transform 200ms ease-out;
            opacity: 0;
            transform: translateY(-20px);
        }

        &-enter-to,
        &-leave {
            transition: opacity 200ms ease-out, transform 200ms ease-out;
            opacity: 1;
            transform: translateY(0);
        }

        &-leave-to {
            transition: opacity 200ms ease-out, transform 200ms ease-out;
            opacity: 0;
            transform: translateY(20px);
        }
    }
}