.product-add {
    &__input-wrapper {
        position: relative;
        width: 100%;
        z-index: 1;
    }

    &__results {
        background: $color-white;
        width: 100%;
        left: 0;
        top: 100%;
        position: absolute;
        z-index: 10;
        color: $color-black;
    }

    &__clear {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: 2;
    }
}