.product {
    background: $color-white;
    padding: 10px;
    position: relative;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        width: 100%;
        text-align: left;
        flex-shrink: 1;
        position: relative;
        top: -1px;
    }

    &__name-highlight {
        background: $color-yellow;
    }

    &__quantity {
        font-size: 0.75em;
        font-weight: normal;
        color: $color-gray-blue;
        margin-left: 3px;
    }

    &__mark {
        margin-right: 5px;
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__action {
        margin-left: 3px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__category {
        height: 100%;
        width: 5px;
        display: block;
        position: absolute;
        left: -1px;
        top: 0;
    }
}