.quantity {
    display: flex;
    align-items: center;

    &__input {
        width: 60px;
        padding: 5px;
        border-radius: 0;
        text-align: center;
        height: 32px;
        margin: 0 3px;
    }

    &__button {
        flex-shrink: 0;
    }

    &__unit {
        margin-left: 20px;
    }
}