
.svg-icon {
    fill: currentColor;

    &--white {
        fill: $color-white;
    }

    &--red {
        fill: $color-red;
    }

    &--green {
        fill: $color-green;
    }

    &--gray-blue {
        fill: $color-gray-blue
    }
}