.tabs {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    font-weight: 400;

    &__tab {
        width: 50%;
        flex-shrink: 0;
        padding: 10px 10px 13px 10px;
        text-align: center;
        position: relative;
        cursor: pointer;
        color: $color-white;
        font-family: 'Lato', sans-serif;

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: $color-white;
            transition: transform 250ms ease-out;
            transform: scaleX(0);
        }

        &--active {
            &:after {
                transform: scaleX(1);
            }
        }
    }
}