button,
input,
textarea {
    font-family: 'Lato', sans-serif;
}

.form-control {
    line-height: 1.4;
    padding: 5px 10px;
    color: $color-black;
    border: none;
    background: $color-white;
    border-radius: 0;
    height: 36px;
    font-family: inherit;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 300;
}

::-moz-placeholder { /* Firefox 19+ */
    font-weight: 300;
}

:-ms-input-placeholder { /* IE 10+ */
    font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}