.container {
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
}

.main {
    background: $color-gray-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

.app {
    max-width: 412px;
    height: 100%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    background: $color-gray-light;
    position: relative;
}


.ico-btn {
    $btn: &;
    @include buttonReset();

    &[disabled] {
        opacity: 0.5;
    }

    svg {
        display: block;
        fill: $color-gray-blue;
    }


    &--red svg {
        fill: $color-red;
    }

    &--green svg {
        fill: $color-green;
    }

    &--white svg {
        fill: $color-white;
    }
}