.header {
    background: linear-gradient(to right, $color-blue, $color-blue-light);
    color: $color-white;
    width: 100%;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    &__options {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__product-add {
        flex-shrink: 0;
        flex-grow: 1;
    }

    &__add-product {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            color: $color-black;
            width: 100%;
            margin-right: 5px;
        }

        button {
            background: none;
            color: $color-white;
            border: none;
            outline: 0;
            font-size: 30px;
            line-height: 1;
            display: block;
            width: 30px;
            height: 30px;
            padding: 0;
            text-align: center;
            font-weight: bold;
            flex-shrink: 0;
        }

        svg {
            margin: 0 auto;
        }
    }
}