<template>
    <form action="#" method="post" @submit.prevent="submit" autocomplete="off">
        <div class="form-field">
            <label for="name" class="form-field__label">Category name</label>
            <input type="text" class="form-field__control" v-model="name" name="name" id="name"/>
            <div class="form-field__error" v-if="nameError">{{nameError}}</div>
        </div>

        <div class="form-field">
            <label class="form-field__label">Category color</label>
            <ColorPicker @colorChanged="updateColor" :start-color="color"/>
        </div>
    </form>
</template>

<script>
    import {mapGetters} from 'vuex';
    import ColorPicker from "../components/ColorPicker.vue";
    import * as Validators from '../utilities/validators';

    export default {
        data: () => {
            return {
                id: '',
                name: '',
                color: '',
                nameError: ''
            };
        },
        name: "CategoryForm",
        props: {
            'category': Object
        },
        components: {
            ColorPicker
        },
        computed: {
            ...mapGetters([
                'findCategoryByName',
            ]),
        },
        methods: {
            submit(){
                if( this.validate() ) {
                    const category = {
                        id: this.id,
                        name: this.name.trim(),
                        color: this.color,
                    };

                    if( this.category ) {
                        this.$store.commit('categorySave', category);
                    }
                    else {
                        this.$store.commit('categoryAdd', category);
                    }

                    this.clear();
                    this.$emit('submit');
                }
            },
            clear() {
                this.id = '';
                this.name = '';
                this.nameError = '';
                this.color = '';
            },
            updateColor(color) {
                this.color = color;
            },
            validate() {
                const name = this.name.trim();

                if (!Validators.isStringNotEmpty(name)) {
                    this.nameError = 'Category name cannot be empty';
                    return false;
                }

                if( !this.category) {
                    if (this.findCategoryByName(name)) {
                        this.nameError = 'Category with this name already exists';
                        return false;
                    }
                }

                this.nameError = '';
                return true;
            }
        },
        created() {
            if( this.category ) {
                this.name = this.category.name;
                this.color = this.category.color;
                this.id = this.category.id;
            }
        }
    }
</script>