<template>
    <div class="category-add" v-if="showCategoryAdd">
        <ModalSmall>
            <template slot="header">Add category</template>

            <div class="category-add__content">
                <div class="container">
                    <CategoryForm ref="categoryForm" @submit="close"/>
                </div>
            </div>

            <template slot="action-primary">
                <button class="button button--primary" @click="addCategory" type="button">Add</button>
            </template>
            <template slot="action-secondary">
                <button class="button" @click="close" type="button">Cancel</button>
            </template>
        </ModalSmall>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import ModalSmall from "../components/ModalSmall.vue";
    import CategoryForm from "../components/CategoryForm.vue";

    export default {
        name: "CategoryAdd",
        components: {
            ModalSmall,
            CategoryForm
        },
        computed: {
            ...mapState([
                'showCategoryAdd'
            ])
        },
        methods: {
            addCategory() {
                this.$refs.categoryForm.submit();
            },
            close() {
                this.$store.commit('showCategoryAdd', false);
            },
        }
    }
</script>
