<template>
    <div class="category">
        <div class="category__wrapper">
            <div class="category__color" :style="{ background: category.color}"></div>
            <div class="category__name">
                {{ category.name }}
            </div>

            <div class="category__actions">
                <button class="btn category__action" type="button" :disabled="!canMoveUp" v-if="!isDefault"
                        @click="moveUp">
                    <SvgIcon name="arrow-up" color="green" :width="18" :height="18"/>
                </button>
                <button class="btn category__action" type="button" :disabled="!canMoveDown" v-if="!isDefault"
                        @click="moveDown">
                    <SvgIcon name="arrow-down" color="green" :width="18" :height="18"/>
                </button>
                <button class="btn category__action" type="button" @click="edit">
                    <SvgIcon name="edit" color="gray-blue"/>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import SvgIcon from './SvgIcon.vue';

    export default {
        name: "Category",
        props: {
            'category': Object,
            'index': Number,
            'canMoveUp': Boolean,
            'canMoveDown': Boolean,
            'isDefault': Boolean
        },
        components: {
            SvgIcon
        },
        methods: {
            edit() {
                this.$store.commit('categoryEdit', this.category);
            },
            moveUp() {
                this.$store.commit('categoryMoveUp', this.index);
            },
            moveDown() {
                this.$store.commit('categoryMoveDown', this.index);
            }
        }
    }
</script>
