<template>
    <div class="category-add" v-if="editedCategory">
        <ModalSmall>
            <template slot="header">Edit category</template>

            <div class="category-add__content">
                <div class="container">
                    <CategoryForm ref="categoryForm" :category="category" @submit="close"/>
                </div>
            </div>

            <template slot="action-primary">
                <button type="button" class="button button--primary" @click="save">Save</button>
            </template>
            <template slot="action-secondary">
                <button type="button" class="button" @click="close">Cancel</button>
            </template>
            <template slot="action-tertiary" v-if="category.id !== 0">
                <button type="button" class="button button--text-red" @click="remove">Remove</button>
            </template>
        </ModalSmall>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import ModalSmall from "../components/ModalSmall.vue";
    import CategoryForm from "../components/CategoryForm.vue";

    export default {
        data: () => {
            return {
                category: null
            };
        },
        name: "CategoryEdit",
        components: {
            ModalSmall,
            CategoryForm
        },
        computed: {
            ...mapState([
                'editedCategory'
            ])
        },
        methods: {
            save() {
                this.$refs.categoryForm.submit();
            },
            close() {
                this.$store.commit('categoryEdit', null);
            },
            remove() {
                if (window.confirm("Do you really want to remove category?")) {
                    const category = {...this.category};
                    this.$store.commit('categoryEdit', null);
                    this.$store.commit('categoryRemove', category);
                }
            },
        },
        watch: {
            editedCategory(edited) {
                if (edited) {
                    this.category = edited;
                }
            }
        },
    }
</script>
