<template>
    <div class="categories-edit" v-show="show">
        <Modal>
            <template slot="header">Edit categories</template>

            <div class="container">
                <div class="list">
                    <div class="list__header">
                        <h2 class="list__title">Categories</h2>
                    </div>
                    <div class="list__items">
                        <transition-group name="list__item" tag="div">
                            <div class="list__item" v-for="(category, index) in categories" :key="category.id">
                                <Category :category="category"
                                          :index="index"
                                          :isDefault="category.id === 0"
                                          :canMoveUp="index > 1"
                                          :canMoveDown="index < categories.length - 1 && category.id !== 0"
                                />
                            </div>
                        </transition-group>
                    </div>
                </div>
            </div>

            <template slot="action-primary">
                <button class="button button--primary" @click="close">Close</button>
            </template>
        </Modal>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import Modal from "../components/Modal.vue";
    import Category from "../components/Category.vue";

    export default {
        name: "CategoriesEdit",
        components: {
            Modal,
            Category
        },
        computed: {
            ...mapState({
                show: 'showCategoriesEdit',
                categories: 'categories'
            })
        },
        methods: {
            close() {
                this.$store.commit('setShowCategoriesEdit', false);
            }
        }
    }
</script>