<template>
    <div class="color-picker">
        <div class="color-picker__colors">
            <button class="color-picker__color"
                    type="button"
                    v-for="(color, index) in colorsPredefined"
                    :key="index"
                    :style="{ backgroundColor: color}"
                    :class="{ 'is-active': colorActive === index }"
                    @click="setColor(index)">
                <SvgIcon name="checkmark" color="white" :width="16" :height="16"
                         cssClass="color-picker__color-checkmark"/>
                <span class="sr-only">{{color}}</span>
            </button>
        </div>
        <button type="button" class="btn btn--link color-picker__show-custom-color" @click="toggleCustomColor">Set
            custom color
        </button>


        <div class="color-picker__custom-color" v-if="showCustomColor">
            <div class="color-picker__color-sliders">
                <div class="form-field">
                    <label class="form-field__label">Hue {{hue}}</label>
                    <input type="range" name="hue" min="0" max="360" v-model="hue"
                           class="color-picker__color-slider-input" @input="updateColor">
                </div>
                <div class="form-field">
                    <label class="form-field__label">Saturation {{saturation}}</label>
                    <input type="range" name="saturation" min="0" max="100" v-model="saturation"
                           class="color-picker__color-slider-input" @input="updateColor">
                </div>
                <div class="form-field">
                    <label class="form-field__label">Brightness {{brightness}}</label>
                    <input type="range" name="brightness" min="0" max="100" v-model="brightness"
                           class="color-picker__color-slider-input" @input="updateColor">
                </div>
            </div>
            <div class="color-picker__color-preview" :style="{ backgroundColor: customColor}"></div>
        </div>
    </div>
</template>

<script>
    import SvgIcon from './SvgIcon.vue';
    import * as Colors from "../utilities/colors";

    const colorsPredefined = [
        '#1abc9c',
        '#2ecc71',
        '#3498db',
        '#8e44ad',
        '#34495e',
        '#f1c40f',
        '#e67e22',
        '#e74c3c'
    ];

    export default {
        data: () => {
            return {
                colorsPredefined,
                color: colorsPredefined[0],
                hue: 0,
                saturation: 0,
                brightness: 0,
                colorActive: 0,
                showCustomColor: false,
            }
        },
        name: "ColorPicker",
        props: {
            'startColor': {
                type: String,
                required: false,
                validator: function(value) {
                    return value === '' || Colors.isValidHex(value);
                }
            }
        },
        components: {
            SvgIcon
        },
        computed: {
            customColor() {
                return `hsl(${this.hue},${this.saturation}%,${this.brightness}%)`;
            }
        },
        methods: {
            setColor(index) {
                this.setColorHex(colorsPredefined[index]);
                this.colorActive = index;
            },
            setColorHex(hex) {
                this.color = hex;
                const rgb = Colors.hexToRgb(hex);
                const [h, s, l] = Colors.rgbToHsl(...rgb);

                this.hue = h;
                this.saturation = s;
                this.brightness = l;
                this.colorActive = -1;
                this.$emit('colorChanged', this.color);
            },
            updateColor() {
                const rgb = Colors.hslToRgb(this.hue, this.saturation, this.brightness);
                this.color = Colors.rgbToHex(rgb);
                this.colorActive = -1;
                this.$emit('colorChanged', this.color);
            },
            toggleCustomColor() {
                if (this.showCustomColor) {
                    this.showCustomColor = false;
                    this.setColor(0);
                } else {
                    this.showCustomColor = true;
                }
            },
        },
        created: function () {
            if (this.startColor) {
                this.setColorHex(this.startColor);
                this.showCustomColor = true;
            } else {
                this.setColor(0);
            }
        },
    }

</script>