<template>
    <transition name="message-bar">
        <div class="message-bar" v-if="messageBar.show">
            <div class="message-bar__text">
                {{messageBar.text}}
            </div>
            <div class="message-bar__actions">
                <button type="button" class="message-bar__action button button--small"
                        @click="action.callback"
                        :class="actionType(action)"
                        v-for="(action, index) in messageBar.actions"
                        :key="index"
                >{{action.text}}
                </button>
            </div>
        </div>
    </transition>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "MessageBar",
        methods: {
            actionType(action) {
                if (!action.type) {
                    return 'button--primary'
                }
                return `button--${action.type}`;
            }
        },
        computed: {
            ...mapState([
                'messageBar'
            ]),
        }
    }
</script>