<template>
    <div class="modal-small">
        <div class="modal-small__content">
            <header class="modal-small__header">
                <h2>
                    <slot name="header">Modal title</slot>
                </h2>
            </header>
            <div class="modal-small__body">
                <slot/>
            </div>
            <footer class="modal-small__footer">
                <div class="modal-small__action">
                    <slot name="action-primary"/>
                </div>
                <div class="modal-small__action">
                    <slot name="action-secondary"/>
                </div>
                <div class="modal-small__action">
                    <slot name="action-tertiary"/>
                </div>
            </footer>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ModalSmall",
    }
</script>