<template>
    <div class="modal">
        <header class="modal__header">
            <h2>
                <slot name="header">Modal title</slot>
            </h2>
        </header>
        <div class="modal__body">
            <slot/>
        </div>
        <footer class="modal__footer">
            <div class="modal__action">
                <slot name="action-primary"/>
            </div>
            <div class="modal__action">
                <slot name="action-secondary"/>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: "Modal",
    }
</script>