<template>
    <div class="options-menu" v-click-outside="close">
        <button type="button" class="btn" @click.stop="open">
            <SvgIcon name="more-dots" color="white"/>
        </button>

        <transition name="options-menu-show">
            <ul class="options-menu__list" v-show="isOpen">
                <li v-for="(option, name) in options" :key="name" class="options-menu__list-item">
                    <button type="button" class="options-menu__option" @click="action(name)">{{option}}</button>
                </li>
            </ul>
        </transition>
    </div>
</template>

<script>
    import SvgIcon from './SvgIcon.vue';

    export default {
        data: () => {
            return {
                options: {
                    'editCategories': 'Edit categories',
                    'clearData': 'Clear data'
                },
                isOpen: false
            }
        },
        components: {
            SvgIcon
        },
        name: "OptionsMenu",
        methods: {
            action(name) {
                switch (name) {
                    case 'clearData': {
                        const messageBar = {
                            text: 'Do you want to clear all data?',
                            actions: [
                                {
                                    text: 'Yes',
                                    callback: () => {
                                        this.$store.commit('dataClear');
                                    },
                                },
                                {
                                    text: 'No',
                                    type: 'secondary',
                                    callback: () => {
                                        this.$store.commit('closeMessageBar');
                                    },
                                },
                            ]
                        };
                        this.$store.commit('setMessageBar', messageBar);
                        break;
                    }
                    case 'editCategories': {
                        this.$store.commit('setShowCategoriesEdit', true);
                    }
                }

                this.close();
            },
            open() {
                this.isOpen = true;
            },
            close() {
                this.isOpen = false;
            }
        }
    }
</script>