<template>
    <form action="#" @submit.prevent="addProduct" class="header__add-product product-add">
        <div class="product-add__input-wrapper">
            <input type="text" v-model="productNewName" class="form-control" placeholder="Enter a name of new product"/>
            <button type="button" class="btn product-add__clear" v-if="productNewName.length > 0"
                    @click="clearProductName">
                <SvgIcon name="close" color="gray-blue" :width="24" :height="24"/>
            </button>
            <div class="product-add__results" v-if="searchProducts.length > 0">
                <div class="list list--no-margin">
                    <div class="list__items">
                        <div class="list__item" v-for="product in searchProducts" :key="product.id">
                            <Product :product="product" :list-type="'autocomplete'" :highlight="productNewName"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn" :disabled="addDisabled">
            <SvgIcon name="add-to-list" color="white"/>
        </button>
    </form>
</template>

<script>
    import {mapGetters} from 'vuex';
    import Product from './Product.vue';
    import SvgIcon from './SvgIcon.vue';
    import * as Validators from '../utilities/validators';

    const MIN_QUERY_LENGTH = 2;

    export default {
        data: () => {
            return {
                productNewName: '',
            }
        },
        components: {
            SvgIcon,
            Product
        },
        name: "ProductAdd",
        computed: {
            ...mapGetters([
                'findProductByName',
                'queryProductsByName'
            ]),
            addDisabled() {
                return !Validators.isStringNotEmpty(this.productNewName);
            },
            searchProducts() {
                if (this.productNewName.length < MIN_QUERY_LENGTH) {
                    return [];
                }

                return this.queryProductsByName(this.productNewName);
            }
        },
        methods: {
            addProduct() {
                const name = this.productNewName.trim();
                if (Validators.isStringNotEmpty(name)) {
                    if (this.findProductByName(name) !== undefined) {
                        const messageBar = {
                            text: 'This product is already in products base!',
                            actions: [
                                {
                                    text: 'Close',
                                    callback: () => {
                                        this.$store.commit('closeMessageBar');
                                    },
                                },
                            ]
                        };
                        this.$store.commit('setMessageBar', messageBar);
                    } else {
                        this.$store.commit('productAdd', name);
                        this.productNewName = '';
                    }
                }
            },
            clearProductName() {
                this.productNewName = '';
            }
        }
    }
</script>