<template>
    <div class="product-edit" v-if="product">
        <ModalSmall>
            <template slot="header">Edit product</template>
            <div class="product-edit__form">
                <div class="form-field">
                    <label for="name" class="form-field__label">Product name</label>
                    <input type="text" class="form-field__control" v-model="nameNew" name="name" id="name"
                           autocomplete="off"/>
                    <div class="form-field__error" v-if="nameError">{{nameError}}</div>
                </div>
                <div class="form-field">
                    <label for="quantity" class="form-field__label">Quantity</label>
                    <QuantityCounter :quantity="quantity" :quantity-unit="quantityUnit"
                                     @quantityChanged="quantityChange" @quantityUnitChanged="quantityUnitChange"/>
                </div>
                <div class="form-field">
                    <label for="category" class="form-field__label">Category</label>
                    <select name="category" id="category" v-model="categoryNew" class="form-field__control">
                        <option
                            :value="category.id"
                            :key="category.id"
                            v-for="category in categories">{{category.name}}
                        </option>
                    </select>
                    <button @click.prevent="showCategoryAdd" class="btn btn--link product-edit__category-add">Add new
                        category
                    </button>
                </div>
            </div>
            <template slot="action-primary">
                <button type="button" class="button button--primary" @click="save">Save</button>
            </template>
            <template slot="action-secondary">
                <button type="button" class="button" @click="cancel">Cancel</button>
            </template>
            <template slot="action-tertiary">
                <button type="button" class="button button--text-red" @click="remove">Remove</button>
            </template>
        </ModalSmall>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';
    import ModalSmall from "../components/ModalSmall.vue";
    import QuantityCounter from "../components/QuantityCounter.vue";
    import * as Validators from '../utilities/validators';

    export default {
        data: () => {
            return {
                nameNew: '',
                categoryNew: null,
                quantity: 1,
                quantityUnit: '',
                nameError: ''
            }
        },
        name: "ProductEdit",
        components: {
            ModalSmall,
            QuantityCounter
        },
        computed: {
            ...mapGetters({
                categories: 'getCategoriesSorted'
            }),
            ...mapState({
                product: 'editedProduct'
            })
        },
        watch: {
            product(edited) {
                if (edited) {
                    this.nameNew = edited.name;
                    this.categoryNew = edited.categoryId;
                    let quantity = parseInt(edited.quantity, 10);
                    if (isNaN(quantity) || quantity < 1) {
                        quantity = 1;
                    }
                    this.quantity = quantity;
                    this.quantityUnit = edited.quantityUnit;
                }
            }
        },
        methods: {
            save() {
                if (this.validate()) {
                    const product = this.product;
                    product.name = this.nameNew;
                    product.categoryId = this.categoryNew;
                    product.quantity = this.quantity;
                    product.quantityUnit = this.quantityUnit;

                    this.$store.commit('productSave', product);
                    this.$store.commit('productEdit', null);
                }
            },
            cancel() {
                this.$store.commit('productEdit', null);
            },
            remove() {
                const messageBar = {
                    text: 'Do you really want to remove product?',
                    actions: [
                        {
                            text: 'Yes',
                            callback: () => {
                                const product = this.product;
                                this.$store.commit('productEdit', null);
                                this.$store.commit('productRemove', product);
                                this.$store.commit('closeMessageBar');
                            },
                        },
                        {
                            text: 'No',
                            type: 'secondary',
                            callback: () => {
                                this.$store.commit('closeMessageBar');
                            },
                        },
                    ]
                };
                this.$store.commit('setMessageBar', messageBar);
            },
            validate() {
                const name = this.nameNew.trim();
                if (!Validators.isStringNotEmpty(name)) {
                    this.nameError = 'Product name cannot be empty';
                    return false;
                }

                if( this.categoryNew === null ) {
                    return false;
                }

                return true;
            },
            showCategoryAdd() {
                this.$store.commit('showCategoryAdd', true);
            },
            quantityChange(value) {
                this.quantity = parseInt(value, 10);
            },
            quantityUnitChange(value) {
                this.quantityUnit = value;
            }
        }
    }
</script>