<template>
    <div class="product">
        <div class="product__wrapper">
            <span class="product__category" :style="{ background: findCategoryByProduct(product).color }" :title="findCategoryByProduct(product).name"></span>

            <button class="product__mark btn" @click="toggleBasket"
                    v-if="listType !== 'all' && listType !== 'autocomplete'" type="button">
                <SvgIcon name="checkbox-empty" v-if="!product.inBasket" color="gray-blue"/>
                <SvgIcon name="checkbox-checked" v-if="product.inBasket" color="gray-blue"/>
            </button>

            <div class="product__name">
                <span v-html="getName"></span>
                <span class="product__quantity" v-if="quantity">{{quantity}}</span>
            </div>

            <div class="product__actions">
                <button class="btn product__action" v-show="product.inList" @click="removeFromList" type="button">
                    <SvgIcon name="remove" color="red"/>
                </button>
                <button class="btn product__action" v-show="!product.inList && !product.inBasket" @click="addToList"
                        type="button">
                    <SvgIcon name="add" color="green"/>
                </button>
                <button class="btn product__action" @click="edit" type="button" v-if="listType === 'all'">
                    <SvgIcon name="edit" color="gray-blue"/>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapGetters} from 'vuex';
    import SvgIcon from './SvgIcon.vue';

    export default {
        name: "Product",
        props: {
            'product': Object,
            'list-type': String,
            'highlight': String
        },
        components: {
            SvgIcon
        },
        methods: {
            toggleBasket() {
                this.$store.commit('toggleBasket', this.product);
            },
            addToList() {
                this.$store.commit('addToList', this.product);
            },
            removeFromList() {
                this.$store.commit('removeFromList', this.product);
            },
            edit() {
                this.$store.commit('productEdit', this.product);
            }

        },
        computed: {
            ...mapState([
                'categories'
            ]),
            ...mapGetters([
                'findCategoryByProduct'
            ]),
            quantity() {
                if (this.product.quantity > 1 || this.product.quantityUnit !== '') {
                    const quantity = `${this.product.quantity} ${this.quantityUnit}`;
                    return `(${quantity.trim()})`;
                }

                return '';
            },
            quantityUnit() {
                if (this.product.quantityUnit !== '') {
                    return this.product.quantityUnit;
                }

                return '';
            },
            getName() {
                if (this.highlight) {
                    const nameRegexp = new RegExp(`(.*)(${this.highlight.trim()})(.*)`, 'i');
                    const nameResult = nameRegexp.exec(this.product.name);
                    if( nameResult ) {
                        const [,strBegin, strQuery, strEnd] = nameResult;
                        return `${strBegin}<span class="product__name-highlight">${strQuery}</span>${strEnd}`;
                    }
                    return this.product.name;
                }
                return this.product.name;
            }
        }
    }
</script>