<template>
    <div class="list">
        <div class="list__header">
            <h2 class="list__title">{{title}}</h2>
        </div>
        <div class="list__items">
            <transition-group name="list__item" tag="div" v-if="sort === 'alphabetic'">
                <div class="list__item" v-for="product in products" :key="product.id">
                    <Product :product="product" :list-type="listType"/>
                </div>
            </transition-group>
            <div v-if="sort === 'group'">
                <div class="list__group" v-for="group in productsByCategory" :key="group.category.id"
                     v-show="group.products.length > 0">
                    <h3 class="list__group-title" :style="{color: group.category.color}">{{group.category.name}}</h3>
                    <transition-group name="list__item" tag="div">
                        <div class="list__item" v-for="product in group.products" :key="product.id">
                            <Product :product="product" :list-type="listType"/>
                        </div>
                    </transition-group>
                </div>
            </div>
        </div>
        <div class="list__empty" v-if="products.length===0" v-html="emptyMessage"></div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';
    import Product from './Product.vue';

    export default {
        name: "ProductList",
        props: {
            'list-type': String
        },
        components: {
            Product
        },
        computed: {
            ...mapGetters([
                'productsAll',
                'productsAllByCategory',
                'productsAllCount',
                'productsInBasketCount',
                'productsInBasket',
                'productsInBasketByCategory',
                'productsInList',
                'productsInListByCategory',
                'productsInListCount'
            ]),
            ...mapState(['sort']),
            products() {
                switch (this.listType) {
                    case 'list': {
                        return this.productsInList;
                    }
                    case 'basket': {
                        return this.productsInBasket;
                    }
                    default: {
                        return this.productsAll;
                    }
                }
            },
            productsByCategory() {
                switch (this.listType) {
                    case 'list': {
                        return this.productsInListByCategory;
                    }
                    case 'basket': {
                        return this.productsInBasketByCategory;
                    }
                    default: {
                        return this.productsAllByCategory;
                    }
                }
            },
            title() {
                switch (this.listType) {
                    case 'list': {
                        return this.productsInListCount === 0 ? 'List' : `List (${this.productsInListCount})`;
                    }
                    case 'basket': {
                        return this.productsInBasketCount === 0 ? 'Basket' : `Basket (${this.productsInBasketCount})`;
                    }
                    default: {
                        return 'Products';
                    }
                }
            },
            emptyMessage() {
                switch (this.listType) {
                    case 'list': {
                        return 'There are no products on your list.';
                    }
                    case 'basket': {
                        return 'There are no products in your basket.';
                    }
                    default: {
                        return 'Your product list is empty. <br/>You can add a product in field on the top.';
                    }
                }
            }
        },
    }
</script>
