<template>
    <div class="quantity">
        <button class="quantity__button btn btn--blue" type="button" @click="quantityDown"
                :disabled="quantityValue <= 1">
            <SvgIcon name="remove" color="white" :width="28" :height="28"/>
        </button>
        <input type="number" class="form-field__control quantity__input" v-model="quantityValue" name="quantity" @change="quantityChange"
               id="quantity"
               autocomplete="off" min="1"/>
        <button class="quantity__button btn btn--blue" type="button" @click="quantityUp">
            <SvgIcon name="add" color="white" :width="28" :height="28"/>
        </button>
        <select name="unit" id="unit" v-model="quantityUnitValue" class="form-field__control quantity__unit">
            <option value=""></option>
            <option
                :value="unit"
                :key="unit"
                v-for="(unitName, unit) in quantityUnits">{{unitName}}
            </option>
        </select>
    </div>
</template>

<script>
    import SvgIcon from './SvgIcon.vue';

    const quantityUnits = {
        'g': 'gram',
        'kg': 'kilogram',
        'l': 'liter',
        'ml': 'mililiter'
    };

    export default {
        data: () => {
            return {
                quantityValue: 1,
                quantityUnits,
                quantityUnitValue: ''
            }
        },
        name: "QuantityCounter",
        props: {
            quantity: {
                default: 1,
                type: Number
            },
            quantityUnit: {
                default: '',
                type: String
            }
        },
        components: {
            SvgIcon
        },
        methods: {
            quantityDown() {
                this.quantityValue--;
            },
            quantityUp() {
                this.quantityValue++;
            },
            quantityChange(event) {
                let value = parseInt(event.target.value, 10);
                if (isNaN(value) || value < 1) {
                    value = 1;
                }

                this.quantityValue = value;
                this.$forceUpdate();
            }
        },
        watch: {
            quantityValue(value) {
                this.$emit('quantityChanged', value);
            },
            quantityUnitValue(value) {
                this.$emit('quantityUnitChanged', value);
            }
        },
        created: function () {
            this.quantityValue = this.quantity;
            this.quantityUnitValue = this.quantityUnit;
        }
    }

</script>
