<template>
    <div class="sort-button">
        <button type="button" class="btn" v-show="sort === 'alphabetic'" @click="sortGroup">
            <SvgIcon name="group" color="white" :width="24" :height="24"/>
        </button>
        <button type="button" class="btn" v-show="sort === 'group'" @click="sortAlphabetic">
            <SvgIcon name="sort" color="white" :width="18" :height="18"/>
        </button>
    </div>

</template>

<script>
    import SvgIcon from './SvgIcon.vue';

    export default {
        name: "Sort",
        data: () => {
            return {
                sort: 'alphabetic'
            }
        },
        components: {
            SvgIcon
        },
        methods: {
            sortGroup() {
                this.sort = 'group';
                this.$store.commit('setSortGroup');
            },
            sortAlphabetic() {
                this.sort = 'alphabetic';
                this.$store.commit('setSortAlphabetic');
            }
        }
    }
</script>