<template>
    <svg :class="className" :width="width" :height="height">
        <title v-if="title">{{ title }}</title>
        <use :xlink:href="iconPath"/>
    </svg>
</template>

<script>
    import * as Validators from '../utilities/validators';
    export default {
        name: 'svg-icon',
        props: {
            name: {
                type: String,
                required: true
            },
            title: {
                type: String,
                default: null
            },
            width: {
                type: Number,
                default: 24
            },
            height: {
                type: Number,
                default: 24
            },
            color: {
                type: String,
                default: ''
            },
            cssClass: {
                type: String,
                default: ''
            }
        },
        computed: {
            iconPath() {
                return require(`@/assets/icons/${this.name}.svg`).default.url;
            },

            className() {
                let className = `svg-icon svg-icon--${this.name}`;
                const color = this.color.trim();
                const cssClass = this.cssClass.trim();
                if (Validators.isStringNotEmpty(color)) {
                    className += ` svg-icon--${color}`;
                }
                if (Validators.isStringNotEmpty(cssClass)) {
                    className += ` ${cssClass}`;
                }
                return className;
            }
        }
    };
</script>
