<template>
    <div class="tabs">
        <button class="tabs__tab btn" :class="{ 'tabs__tab--active': activeTab === 'list'}" @click="activateTab('list')">
            List
            <template v-if="productsInListCount + productsInBasketCount > 0">
                ({{productsInBasketCount}}/{{productsInListCount + productsInBasketCount}})
            </template>
        </button>
        <button class="tabs__tab btn" :class="{ 'tabs__tab--active': activeTab === 'all'}" @click="activateTab('all')">
            Products ({{productsAllCount}})
        </button>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';

    export default {
        name: "Tabs",
        computed: {
            ...mapGetters([
                'productsAllCount',
                'productsInBasketCount',
                'productsInListCount',
            ]),
            ...mapState([
                'activeTab'
            ])
        },
        methods: {
            activateTab(tab) {
                this.$store.commit('setActiveTab', tab);
            }
        }
    }
</script>
