<template>
    <div class="lists" :class="{'lists--show-second': activeTab === 'list'}">
        <div class="lists__wrapper">
            <div class="lists__item" v-for="tab in tabs" :key="tab" :class="{'lists__item--inactive': activeTab !== tab}">
                <slot :name="tab"/>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "TabsContent",
        props: {
            'tabs':Array
        },
        computed: {
            ...mapState([
                'activeTab'
            ]),
        },
    }
</script>
