/*
    Color variables
 */

$color-white: #fff;
$color-black: #333;

$color-gray: #999;
$color-gray-light: #f0f0f0;
$color-gray-light2: #e0e0e0;
$color-gray-light3: #f8f8f8;

$color-gray-blue: #567;


$color-blue: #0d8ddd;
$color-blue-light: #1fb4ff;

$color-green: #36ae55;

$color-red: #e55137;

$color-yellow: #ffe500;

$color-purple: #9958bc;

$color-primary: $color-blue;
