<template>
    <div id="app" class="app">
        <header class="header" ref="app-header">
            <div class="header__wrapper">
                <div class="header__product-add">
                    <ProductAdd/>
                </div>
                <div class="header__sort">
                    <Sort/>
                </div>
                <div class="header__options">
                    <OptionsMenu/>
                </div>
            </div>
            <Tabs/>
        </header>

        <main class="main">
            <div class="container">
                <TabsContent :tabs="['all', 'list']">
                    <template slot="all">
                        <ProductList list-type="all"></ProductList>
                    </template>
                    <template slot="list">
                        <ProductList list-type="list"></ProductList>
                        <ProductList list-type="basket"></ProductList>
                    </template>
                </TabsContent>
            </div>
        </main>

        <MessageBar/>
        <ProductEdit/>
        <CategoriesEdit/>
        <CategoryAdd/>
        <CategoryEdit/>
    </div>
</template>

<script>
    import ProductList from "./components/ProductList.vue";
    import ProductAdd from "./components/ProductAdd.vue";
    import ProductEdit from "./components/ProductEdit.vue";
    import CategoriesEdit from "./components/CategoriesEdit.vue";
    import Tabs from "./components/Tabs.vue";
    import CategoryAdd from "./components/CategoryAdd.vue";
    import CategoryEdit from "./components/CategoryEdit.vue";
    import TabsContent from "./components/TabsContent.vue";
    import OptionsMenu from "./components/OptionsMenu.vue";
    import Sort from "./components/Sort.vue";
    import MessageBar from "./components/MessageBar";

    export default {
        name: 'app',
        components: {
            MessageBar,
            ProductList,
            ProductAdd,
            ProductEdit,
            CategoriesEdit,
            Tabs,
            CategoryAdd,
            TabsContent,
            OptionsMenu,
            CategoryEdit,
            Sort
        },
    }
</script>

<style lang="scss">
    @import './scss/main';
</style>
